*{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body{
    margin: 0;
    display: flex;
    flex-direction: column;
    color: white;
    background-image: url("bkg3.jpg");
    background-size: 100% 100%;
    background-attachment: fixed;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar{
    background-color: grey;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(2, 54, 15);
}


.navbar{
    width: 75px;
    height: 100vh;
    background-color: black;
    opacity: 0.5;
    position: fixed;
    transition-duration: 0.7s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0;
}
.navbar span{
    display: none;
}
.navbar:hover{
    width: 250px;
    opacity: 1;
}
.navbar:hover span{
    display: flex;
}
.navbar .logo i{
    transition-duration: 0.7s;
}
.navbar:hover .logo i{
    transform: rotate(180deg);
}
.navbar:hover .navbar-link{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.navbar-item{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.navbar-item:last-child{
    margin-top: auto;
}
.navbar-item .navbar-link{
    display: flex;
    text-decoration: none;
    color: white;
}




.main-content{
    margin-left: 85px;
    margin-top: 50px;
    width: 90%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.5);
}
.portada{
    background-size: cover;
    width: 60%;
    height: 40%;
    color: white;
    align-self: center;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
}
.portada h1:hover{
    text-transform: uppercase;
}



.networks{
    margin-left: 85px;
    height: 650px;
    width: 90%;
    display: flex;
    justify-content: space-around;
}
.networks span{
    display: none;
    margin-top: 30px;

}
.networks span a{
    text-decoration: none;
    color: white;
}
.insta  {
    width:30%;
    height: 90%;
    background-color:rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition-duration: 3s;
}
.insta i{
    font-size: 95px;
    color: black;
    width: 85px;
    height: 100px;
    background: -webkit-linear-gradient(144deg, rgba(254,218,117) 0%, rgba(214,41,118) 35%, rgba(79,91,213) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.insta img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: none;
    transition-duration: 1s;
}
.insta:hover img{
    display: flex;
}
.insta:hover i{
    background: -webkit-linear-gradient(144deg, rgba(254,218,117) 0%, rgba(214,41,118) 0%, rgba(79,91,213) 0%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
}
.insta:hover{
    background: rgb(36,0,19);
    background: linear-gradient(144deg, rgba(254,218,117) 0%, rgba(214,41,118) 35%, rgba(79,91,213) 100%);
}
.insta:hover span{
    display: flex;
}
.insta span:hover{
    font-size: 1.2rem;
}


.facebook{
    width:30%;
    height: 90%;
    background-color:rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.facebook img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: none;
}
.facebook i{
    font-size: 95px;
    color: black;
    width: 60px;
    height: 100px;
    background: -webkit-linear-gradient(144deg, rgb(9, 14, 73) 0%, rgb(13, 37, 145) 35%, rgb(44, 123, 226) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.facebook:hover{
    background: rgb(8, 0, 36);
    background: linear-gradient(144deg, rgb(9, 14, 73) 0%, rgb(13, 37, 145) 35%, rgb(44, 123, 226) 100%);
}
.facebook:hover img{
    display: flex;
}
.facebook:hover i{
    background: -webkit-linear-gradient(144deg, rgba(254,218,117) 0%, rgba(214,41,118) 0%, rgba(79,91,213) 0%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
}
.facebook:hover span{
    display: flex;
}
.facebook span:hover{
    font-size: 1.2rem;
}

.twitter{
    width:30%;
    height: 90%;
    background-color:rgba(0, 0, 0, 0.24);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.twitter img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: none;
    transition: display 2s linear;
}
.twitter i{
    font-size: 95px;
    color: black;
    width: 100px;
    height: 100px;
    background: -webkit-linear-gradient(144deg, rgb(11, 61, 126) 0%, rgb(13, 76, 172) 35%, rgb(44, 123, 226) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.twitter:hover{
    background: rgb(13, 108, 196);
    background: linear-gradient(144deg, rgb(11, 61, 126) 0%, rgb(13, 76, 172) 35%, rgb(44, 123, 226) 100%);
}
.twitter:hover img{
    display: flex;
}
.twitter:hover i{
    -webkit-background-clip: text;
    -webkit-text-fill-color: white;
}
.twitter:hover span{
    display: flex;
}
.twitter span:hover{
    font-size: 1.2rem;
}


.about{
    width: 90%;
    height: 600px;
    margin-left: 85px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}
.about-text{
    width: 50%;
    height: 60%;
}
.about-text-bio{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    font-size: 16px;
    text-align: right;
}
.about-text-bio p{
    padding: 20px;
}

.about-photo{
    width: 50%;
    height: 60%; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.about-photo img{
    width: 80%;
    height: 80%;
    border-radius: 50%;
}

.about-skills{
    width: 100%;
    height: 40%; 
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
}
.skills-bars{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;    
    font-family: 'Ubuntu', sans-serif;
    font-size: 36px;
}
.skills-bars span{
    display: none;
}
.skills-bars .html-area, .css-area, .js-area, .react-area{
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.skills-bars .progress{
    width: 80%;
}
.skills-bars p{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.progress{
    background-color: rgb(27, 50, 51);
}
.html-area:hover span{
    display: block;
}
.html-area .progress-bar{
    background-color: #e34c26;
    transition-duration: 0.7s;
    width: 0%;
}
.html-area:hover .progress-bar{
    width: 60%;
    background-color: #e34c26;
}
.html-area:hover i{
   color: #e34c26;
}
.css-area:hover span{
    display: block;
}
.css-area .progress-bar{
    background-color:#264de4;
    transition-duration: 0.7s;
    width: 0%;
}
.css-area:hover .progress-bar{
    width: 50%;
    background-color:#264de4;
}
.css-area:hover i{
   color:#264de4;
}
.js-area:hover span{
    display: block;
    color: black;
}
.js-area .progress-bar{
    background-color: #f0db4f;
    transition-duration: 0.7s;
    width: 0%;
}
.js-area:hover .progress-bar{
    width: 30%;
    background-color: #f0db4f;
}
.js-area:hover i{
   color: #f0db4f;
   background-color: black;
   background-size: 50% 50%;
}
.react-area:hover span{
    display: block;
    color: black;
}
.react-area .progress-bar{
    background-color: #61dbfb;
    transition-duration: 0.7s;
    width: 0%;
}
.react-area:hover .progress-bar{
    width: 10%;
    background-color: #61dbfb;
}
.react-area:hover i{
   color: #61dbfb;
}



.hobbies{
    width: 90%;
    height: 600px;
    margin-left: 85px;
    margin-top: 50px;
}
.swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    color: black;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }


  
 @media screen and (max-width: 500px) {
    body{
        margin-bottom: 75px;
    }
    /* body div{
        margin: 0 auto;
    } */
    .navbar{
        width: 100vw;
        height: 65px;
        bottom: 0;
        position: fixed;
        display: flex;
        direction: row;
        justify-content: space-around;
        opacity: 1;
        z-index: 3;
    }
    .navbar-item{
        height: 100%;
        width: 20%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .navbar-item:first-child{
        display: none;
    }
    .navbar-item:last-child{
        order: -1;
    }
    .navbar-item:hover{
        background-color: rgba(128, 128, 128, 0.212);
    }
    .navbar:hover{
        width: 100vw;
    }
    .navbar:hover span{
        display: none;
    }


    .main-content{
        margin: 50px auto;
        width: 90%;
    }



    .networks{
        margin: 50px auto;
        width: 90%;
    }


    .about{
        margin: 50px auto;
        width: 90%; 
    }
} 